/target
/tmp
/.cache
/build/pro-3.29.0.148/
/build/pro-3.29-activation-policy/
/bridge/node_modules
/.env
.aider*

**/.claude/settings.local.json
/.claude-worktrees
xovi-ext/llmbutton/*.o
xovi-ext/llmbutton/*.so
